*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
 
body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.rect{
    width: 400px;
    height: 200px;
    background-color: rgb(211, 241, 241);
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
}

button{
    background-color: rgb(197, 190, 190);
    width: 70px;
    height: 40px;
    margin-right: 10px;
    font-size: 20px;
    border-radius: 10%;
    margin-top: 20px;
}

button:hover{
    background-color: #dddada;
    cursor: pointer;

}